.nav {
    color: #ffffff !important;
}

.hidden {
    display: none;
}

.nav:hover>.hidden {
    display: block;
}

.bg-body-tertiary {
    background-color: #001F5F !important;

}

.width {
    width: 100% !important;
    height: 962px !important;
}

header {
    margin-bottom: 20px;
    position: relative;
}

.rodape {
    position: absolute;
    top: 101%;
    transform: translate(0, -100%);
}

.carrosel {
    position: relative;
}

.legenda {
    position: absolute;
}