.color-global{

}
.nav{
    color: #ffffff !important;
    
}
.bg-body-tertiary {
    padding-left: 180px;
    background-color: #001F5F !important;

}
.hidden{
    display: none;
    margin-top: 48px;
}

.nav:hover>.hidden {
    display: block;
}

.hidden2{
    display: none;
    margin-top: 41px;
}
.nav:hover>.hidden2{
    display: block;
}
.nav>a:hover{
    border-bottom: 2px solid #ffffff;

}
.width {
    width: 100% !important;
    height: 962px !important;
}

header {
    margin-bottom: 20px;
    position: relative;
}
.nav2 {
    background-color: #1e4cd700 !important;
    position: absolute !important;
    z-index: 1;
    width: 100vw;
    display: flex !important;
}

.logo{
    width: 200px;
}
.rodape {
    position: absolute;
    top: 101%;
    transform: translate(0, -100%);
}

.carrosel {
    position: relative;
}

.legenda {
    position: absolute;
}
#gap>li>a>img{
    padding: 4px;
}
.navlogo{
    /* display: inline-block !important; */
    margin-left: 30px !important;
    justify-content: center !important;
 }
 .legenda{
    top: 50%;
    margin-left: 20vh;
    color:#ffffff;
    font-family: "Bookerly", Sans-serif;
    font-size: 38px;
    font-weight: bold;
    line-height: 44px;
    text-shadow: 0px 0px 25px #000000;
 }
 .legenda>a{
    color:#ffffff;
    font-family: "Bookerly", Sans-serif;
    font-size: 38px;
    font-weight: bold;
    line-height: 44px;
    text-shadow: 0px 0px 25px #000000;
 }