@charset "utf-8";

:root {
    --primary: #001f5f;
}

/* wave for top */
.custom-shape-divider-top-1715727723 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1715727723 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 31px;
}

.custom-shape-divider-top-1715727723 .shape-fill {
    fill: #fff;
}

/*wave for bottom */
section#sobre {
    width: 100%;
    height: 260px;
}

section#sobre>ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

section#sobre>ul>li {
    background-color: white;
    margin: 10px;
    width: 200px;
    height: 220px;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid var(--primary);
}

section#sobre>ul>li:hover {
    border: 2px solid rgb(192, 192, 50);
    transition: border .3s;
    cursor: pointer;
}

section#sobre>ul>li>div {
    background-color: black;
    width: 70px;
    height: 70px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    color: white;
}

section#sobre>ul>li>p {
    text-align: center;
    font-weight: bold;
    color: var(--primary);
    padding: 5px;
}

.custom-shape-divider-bottom-1715728897 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1715728897 svg {
    position: relative;
    display: block;
    width: calc(148% + 1.3px);
    height: 71px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1715728897 .shape-fill {
    fill: #FFFFFF;
}

#marcas {
    background-color: var(--primary);
    width: 100%;
    height: 540px;
    position: absolute;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

#marcas>#nossasmarcas {
    color: white;
}

#marcas>#nossasmarcas>h2 {
    position: relative;
    font-size: 2em;
    width: 300px;
    margin-bottom: 30px;
}

#marcas>#nossasmarcas>h2>img {
    position: absolute;
    top: -40px;
    left: 280px;
    width: 100px;
}

#marcas>#nossasmarcas>div>a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

#linkmarcas {
    cursor: pointer;
    display: inline-block;
}

div#linkmarcas>#underline {
    display: block;
    margin-top: 10px;
    background-color: white;
    width: 155px;
    height: 2px;
}

#linkmarcas:hover{
    transition: .2s;
    font-size: 1.1em;
    margin-top: -5px;
}
#linkmarcas:hover > #underline{
    transition: .2s;
    width: 170px;
}

#marcas>#roleta {
    background-color: darkred;
    width: 430px;
    height: 430px;
    margin-bottom: 50px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

#roleta .img-redonda {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid var(--primary);
    transform: translate(-50%, -50%);
}


#roleta .img-redonda:hover, #jasmine:hover{
    border: 4px solid rgb(145, 145, 32);
}
#piraque{
    position: absolute;
    top: 0%;
    left: 50%;
}
#vitarela{
    position: absolute;
    top:15%;
    left: 85%;
}
#isabela{
    position: absolute;
    top: 50%;
    left: 100%;
}
#jasmine{
    border-radius: 50%;
    border: 4px solid var(--primary);
    width: 120px;
    height: 120px;
    background-color: white;
    position: absolute;
    top: 85%;
    left: 85%;
    transform: translate(-50%, -50%);
}
#fitfood{
    position: absolute;
    top: 100%;
    left: 50%;
}
#ff{
    position: absolute;
    top: 85%;
    left: 15%;
}
#adria{
    position: absolute;
    top: 50%;
    left: 0%;
}
#acacias{
    position: absolute;
    top: 15%;
    left: 15%;
}
#jasmine > #jasmine-redonda{
    position: relative;
    top: 50%;
    left: 50%;
    width: 100px;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

#acacias > .img-redonda{
    background-color: white;
}