@charset "utf-8";

:root {
    --primary: #001f5f;
}

/* wave for top */
.custom-shape-divider-top-1715903805 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1715903805 svg {
    position: relative;
    display: block;
    width: calc(114% + 1.3px);
    height: 37px;
}

.custom-shape-divider-top-1715903805 .shape-fill {
    fill: #FFFFFF;
}

/*wave for bottom */
section#sobre {
    width: 100%;
    height: 260px;
}

section#sobre>ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

section#sobre>ul>li {
    background-color: white;
    margin: 10px;
    width: 200px;
    height: 220px;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid var(--primary);
}

section#sobre>ul>li:hover {
    border: 2px solid rgb(192, 192, 50);
    transition: border .3s;
    cursor: pointer;
}

section#sobre>ul>li>div {
    background-color: black;
    width: 100px;
    height: 80px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    color: white;
}

section#sobre>ul>li>p {
    text-align: center;
    font-weight: bold;
    color: var(--primary);
    padding: 5px;
}

.custom-shape-divider-bottom-1715728897 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1715728897 svg {
    /* position: relative; */
    display: block;
    width: calc(148% + 1.3px);
    height: 71px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1715728897 .shape-fill {
    fill: #FFFFFF;
}

#marcas {
    background-color: var(--primary);
    width: 100%;
    height: 540px;
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

#marcas>#nossasmarcas {
    color: white;
}

#marcas>#nossasmarcas>h2 {
    position: relative;
    font-size: 2em;
    width: 300px;
    margin-bottom: 30px;
}

#marcas>#nossasmarcas>h2>img {
    position: absolute;
    top: -40px;
    left: 280px;
    width: 100px;
}

#marcas>#nossasmarcas>div>a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

#linkmarcas {
    cursor: pointer;
    display: inline-block;
}

div#linkmarcas>#underline {
    display: block;
    margin-top: 10px;
    background-color: white;
    width: 155px;
    height: 2px;
}

#linkmarcas:hover{
    transition: .2s;
    font-size: 1.1em;
}
#linkmarcas:hover > #underline{
    transition: .2s;
    width: 170px;
}

#marcas>#roleta {
    width: 430px;
    height: 430px;
    margin-bottom: 50px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    display: flex;
    background: url('../imgs/mesa.png');
    background-size: cover;
    background-color: rgb(44, 44, 115);
}

#roleta .img-redonda {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid var(--primary);
    /* transform: translate(-50%, -50%); */
}


#roleta .img-redonda:hover, #jasmine:hover{
    border: 4px solid rgb(145, 145, 32);
}
#piraque, #vitarela, #isabela, #jasmine, #fitfood, #ff, #adria, #acacias{
    transform: translate(-50%, -50%);
    
}
#piraque:hover #piraquepng, #vitarela:hover #vitarelapng, #isabela:hover #isabelapng, #jasmine:hover #jasminepng, #fitfood:hover #fitfoodpng, #ff:hover #ffpng, #adria:hover #adriapng, #acacias:hover #acaciaspng {
    display: block
}
#piraque{
    position: absolute;
    top: 0%;
    left: 50%;
}
#piraquepng{
    position: absolute;
    top: 280px;
    left: 60px;
}

#vitarela{
    position: absolute;
    top:15%;
    left: 85%;
}
#vitarelapng{
    position: absolute;
    top: 240px;
    left: -80px;
}
#isabela{
    position: absolute;
    top: 50%;
    left: 100%;
}
#isabelapng{
    position: absolute;
    top:70px;
    left: -160px;
    width: 320px;
    object-fit: contain;

}
#jasmine{
    border-radius: 50%;
    border: 4px solid var(--primary);
    width: 120px;
    height: 120px;
    background-color: white;
    position: absolute;
    top: 85%;
    left: 85%;
    object-fit: contain;
}
#jasminepng{
    position: absolute;
    top: -65px;
    left: -90px;
    width: 340px;
    height: 180px;
    object-fit: contain;

}
#fitfood{
    position: absolute;
    top: 100%;
    left: 50%;
}
#fitfoodpng{
    position: absolute;
    top: -140px;
    left: 70px;
    width: 380px;
    height: 250px;
    object-fit: contain;
}
#ff{
    position: absolute;
    top: 85%;
    left: 15%;
    z-index: -1;
}
#ffpng{ 
    top: -88px;
    left: 210px;
}


#adria{
    position: absolute;
    top: 50%;
    left: 0%;
}
#adriapng{
    position: absolute;
    top: 80px;
    left: 275px;
    width: 300px;
    object-fit: contain;
}
#acacias{
    position: absolute;
    top: 15%;
    left: 15%;
}
#acaciaspng{
    position: absolute;
    top: 210px;
    left: 210px;
}
#jasmine > #jasmine-redonda{
    position: relative;
    top: 50%;
    left: 50%;
    width: 100px;
    object-fit: cover;
    transform: translate(-50%, -50%);
    
}

#acacias > .img-redonda{
    background-color: white;
}
.gambiarra{
    display: none;
    width: 380px;
    height: 200px;
    position: absolute;
    transform: translate(-50%, -50%);
}
#compromisso-com-a-sustentabilidade{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color: var(--primary);
}
#susten{
    margin: auto;
    width: 1110px;
    height: 540px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 100px;
}
.compromissos{
    /* background-color: rgb(182, 155, 155); */
    width: 33.33%;
    height: 100%;
    position: relative;
}
.compromissos h3{
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 2.5em;
    font-weight: bold;
    top: 70%;
    left: 10%;
}
.compromissos p{
    position: absolute;
    top: 85%;
    left: 10%;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}
.compromissos a{
    position: absolute;
    top: 90%;
    left: 10%;
    text-decoration: none;
    color: white;
    font-size: 1em;
}

#ambiente, #social, #governanca{
    cursor: pointer;
}




